hr{
  width: 40%;
  margin: 30px auto 30px auto !important;
  border: 1px solid black;
}

.MuiTableCell-root {
  display: table-cell;
  padding: 16px;
}

/* Estilos para el contenedor principal */
.contenedor-principal {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.fondo-gris {
  background-color:#eeeeee;
}

/* Estilos para los títulos principales */
.titulo-principal {
  font-size: 2.7rem !important;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos para los subtítulos */
.subtitulo {
  font-size: 12px !important;
  margin-bottom: 20px;
  }

/* Estilos para los párrafos */
.parrafo {
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-weight: lighter !important;
}

/* Estilos para la tabla */
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

/* Estilos para las celdas de la tabla */
.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilos para las celdas de encabezado de la tabla */
.tabla th {
  background-color: #eee;
  font-weight: bold;
}

/*
.contenedor-caja {
  border: 1px solid #ccc;
  padding: 20px;
}
*/

.subtitulo:before {
  content: "";
  display: block;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.heading-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}