.listaCreacion{
    margin-top: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: 0.3s !important;
}
  
.listaCreacion:hover{
    background-color: #3F51B5 !important;
    color: white !important;
}

@media screen and (min-width: 960px) {
    .boxCrearTipoPregunta {
      margin-bottom: 56px;
    }
}

@media screen and (max-width: 959px) {
    .boxCrearInicio{
        margin-top: 16px !important;
    }
}