.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 7px;
    font-size: 16px;
    text-align: center;
}

.spanFooter{
    padding: 5px;
}

.magicHover:hover {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #889eff;
}


