/* 
  Primary color de Material UI: #3F51B5; 
  Textos: 1 em = 16px;
*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

th{
  font-size: 18px !important;
}
td{
  font-size: 16px !important;
}

.mb80px{
  margin-bottom: 80px !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 99px;
}
  
::-webkit-scrollbar-thumb {
      background: #889eff;
} 

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
      height: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: #889eff;
    }  
}