hr{
  width: 40%;
  margin: 30px auto 30px auto !important;
  border: 1px solid black;
}

.MuiTableCell-root {
  display: table-cell;
  padding: 16px;
}

.sangria{
  padding-left: 15px;
}

/* Estilos para los párrafos */
.parrafo {
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-weight: lighter !important;
}

/* Estilos para la tabla */
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.titulo-tabla{
  font-size: 18px !important;
}

.texto-tabla{
  font-size: 16px !important;
}

/* Estilos para las celdas de la tabla */
.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilos para las celdas de encabezado de la tabla */
.tabla th {
  background-color: #eee;
  font-weight: bold;
}

/*
.contenedor-caja {
  border: 1px solid #ccc;
  padding: 20px;
}
*/

.subtitulo:before {
  content: "";
  display: block;
  height: 2px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.heading-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.botonContainer {
  display: flex !important;
  justify-content: center !important;
}



