.navbar {
  background-color: #3F51B5;
  padding: 10px;
  z-index: 1000;
  position: relative;
}
  
.navbar-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: flex;
  margin: 3px 15px;
  padding-bottom: 3px;
  position: relative;
}

.navbar-item::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 15%;
  width: 70%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.navbar-item:hover::after {
  background-color: white;
  transform: scaleX(1);
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.smallModal{
  margin-top: 70px !important;
  width: 50%;
  height: 60%;
  max-height: 80vh;
  margin: auto;
  border-radius: 10px !important;
  border: none !important;
}
  
.columnaId{
  width: 100px;
}
