@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap");



.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background: #eee;
}
.wrapper .text_group .text_404 {
  font-family: "Comic Neue", cursive;
  font-size: 10em;
  box-sizing: border-box;
  color: #363636;
}
.wrapper .text_group .text_lost {
  font-family: "Comic Neue", cursive;
  font-size: 2em;
  line-height: 50px;
  box-sizing: border-box;
  color: #565656;
}
.wrapper .window_group .window_404 {
  width: 200px;
  height: 350px;
  border-radius: 100px;
  box-shadow: -3px -3px 0px 5px #d4d4d4, 5px 5px 0px 2px white;
  background: linear-gradient(310deg, #020024 0%, #09096b 0%, black 80%);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.wrapper .window_group .window_404 .stars {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  animation: flyby 30s linear infinite;
}
.wrapper .window_group .window_404 .stars .star {
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(1) {
  width: 3px;
  height: 3px;
  left: 301px;
  top: 107px;
  animation: twinkle1 13s linear infinite;
  animation-delay: 14s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(1):before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(2) {
  width: 1px;
  height: 1px;
  left: 157px;
  top: 294px;
  animation: twinkle2 7s linear infinite;
  animation-delay: 12s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(2):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(3) {
  width: 2px;
  height: 2px;
  left: 310px;
  top: 46px;
  animation: twinkle3 13s linear infinite;
  animation-delay: 14s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(3):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(4) {
  width: 2px;
  height: 2px;
  left: 348px;
  top: 315px;
  animation: twinkle4 6s linear infinite;
  animation-delay: 14s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(4):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(5) {
  width: 1px;
  height: 1px;
  left: 97px;
  top: 307px;
  animation: twinkle5 12s linear infinite;
  animation-delay: 11s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(5):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(6) {
  width: 2px;
  height: 2px;
  left: 391px;
  top: 207px;
  animation: twinkle6 9s linear infinite;
  animation-delay: 9s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(6):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(7) {
  width: 1px;
  height: 1px;
  left: 290px;
  top: 43px;
  animation: twinkle7 9s linear infinite;
  animation-delay: 8s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(7):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(8) {
  width: 2px;
  height: 2px;
  left: 110px;
  top: 207px;
  animation: twinkle8 7s linear infinite;
  animation-delay: 4s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(8):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(9) {
  width: 2px;
  height: 2px;
  left: 86px;
  top: 7px;
  animation: twinkle9 11s linear infinite;
  animation-delay: 17s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(9):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(10) {
  width: 1px;
  height: 1px;
  left: 6px;
  top: 77px;
  animation: twinkle10 9s linear infinite;
  animation-delay: 17s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(10):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(11) {
  width: 2px;
  height: 2px;
  left: 200px;
  top: 32px;
  animation: twinkle11 6s linear infinite;
  animation-delay: 17s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(11):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(12) {
  width: 1px;
  height: 1px;
  left: 64px;
  top: 24px;
  animation: twinkle12 6s linear infinite;
  animation-delay: 6s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(12):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(13) {
  width: 2px;
  height: 2px;
  left: 92px;
  top: 66px;
  animation: twinkle13 11s linear infinite;
  animation-delay: 17s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(13):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(14) {
  width: 2px;
  height: 2px;
  left: 132px;
  top: 46px;
  animation: twinkle14 13s linear infinite;
  animation-delay: 8s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(14):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(15) {
  width: 2px;
  height: 2px;
  left: 289px;
  top: 341px;
  animation: twinkle15 7s linear infinite;
  animation-delay: 4s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(15):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(16) {
  width: 3px;
  height: 3px;
  left: 37px;
  top: 175px;
  animation: twinkle16 6s linear infinite;
  animation-delay: 15s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(16):before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(17) {
  width: 3px;
  height: 3px;
  left: 278px;
  top: 116px;
  animation: twinkle17 6s linear infinite;
  animation-delay: 13s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(17):before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(18) {
  width: 2px;
  height: 2px;
  left: 16px;
  top: 259px;
  animation: twinkle18 10s linear infinite;
  animation-delay: 13s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(18):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(19) {
  width: 2px;
  height: 2px;
  left: 44px;
  top: 137px;
  animation: twinkle19 13s linear infinite;
  animation-delay: 10s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(19):before {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(20) {
  width: 1px;
  height: 1px;
  left: 158px;
  top: 138px;
  animation: twinkle20 10s linear infinite;
  animation-delay: 15s;
}
.wrapper .window_group .window_404 .stars .star:nth-of-type(20):before {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  filter: blur(1px);
}

@keyframes twinkle1 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle2 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle3 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle4 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle5 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle6 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle7 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle8 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle9 {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.3, 0.3);
  }
  60% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle10 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  50% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle11 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle12 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle13 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle14 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle15 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle16 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle17 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle18 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle19 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes twinkle20 {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.3, 0.3);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes flyby {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@media only screen and (min-width: 1080px) {
  .wrapper .text_group {
    flex: 0 0 30%;
    margin-left: 25%;
    align-items: flex-end;
  }
  .wrapper .window_group {
    flex: 1 0 40%;
    margin-top: 0;
    margin-left: 5%;
  }
}
@media only screen and (max-width: 1079px) {
  .wrapper .text_group {
    flex: 0 0 100%;
    margin: 0;
    align-items: center;
  }
  .wrapper .text_group .text_lost {
    width: 100%;
    padding: 0 22px;
    font-size: 1.7em;
    line-height: 35px;
  }
  .wrapper .window_group {
    flex: 0 0 100%;
  }
  .wrapper .window_group .window_404 {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}
